.cart {
    margin: 70px 0;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    max-width: 1250px;
}

.cart__title-bar {
    padding: 20px;
    background-color: var(--color-special-dim-red);
}

.cart__title {
    margin: 0;
    font-family: inherit;
    font-size: 28px;
    color: var(--color-text-primary);
    line-height: 1.2;
}

.cart__table {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
    -webkit-box-shadow: 1px 5px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 5px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 1px 5px 8px 0 rgba(34, 60, 80, 0.2);
}

.cart__table-head {
}

.cart__table-header {
    color: var(--color-text-primary);
    padding: 15px;
}

.cart__table-body {}

.cart__table-row {}

.cart__table-row_type_coupon {
    background-color: var(--color-special-dim-red);
    color: var(--color-text-primary);
}

.cart__table-row_type_subtotal > .cart__table-data, .cart__table-row_type_coupon > .cart__table-data {
    padding: 10px;
}

.cart__table-row_type_subtotal > .cart__table-data_type_subtotal, .cart__table-row_type_coupon > .cart__table-data_type_coupon {
    text-align: left;
    padding: 10px 15px;
}

.cart__table-row_total {
    background-color: var(--color-white);
}

.cart__table-data {
    color: var(--color-text-primary);
    text-align: center;
    padding: 20px 10px;
}

.cart__table-data_total {
    padding: 15px 20px;
    text-align: left;
    color: var(--color-text-secondary);
}

.cart__table-data_total-price {
    padding: 15px;
    color: var(--color-special-red);
}

.cart__remove {
    margin: 0;
    color: var(--color-special-red);
}

.cart__image {
    object-fit: cover;
    max-width: 200px;
    width: 20vw;
    max-height: 200px;
    height: 20vw;
}

.cart__link {
    text-decoration: none;
    opacity: 1;
    transition: opacity var(--transition-primary);
}

.cart__link:hover {
    opacity: .7;
}

.cart__apply-coupon-form {
    position: relative;
    top: 25px;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.cart__apply-coupon-form > #id_code {
    align-self: stretch;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-special-red);
    color: var(--color-special-red);
}

.cart__apply-coupon-form > #id_code:focus {
    outline: none;
}

.cart__apply-coupon-input {
    background-color: var(--color-special-dim-red);
    color: var(--color-text-primary);
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    -webkit-box-shadow: 1px 5px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 5px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 1px 5px 8px 0 rgba(34, 60, 80, 0.2);
}

.cart__empty {
    display: flex;
    width: 100%;
    margin: 180px 0 150px;
    align-items: center;
    justify-content: center;
}

.cart__text {
    margin: 0;
    font-size: 18px;
}

.cart__links {
    font-family: inherit;
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
    margin: 30px 0 0;
}

.cart__link_type_submit {
    text-align: center;
    padding: 15px;
    background-color: var(--color-light);
    font-family: inherit;
    color: var(--color-text-secondary);
    border-radius: 4px;
}

.cart__link_type_submit_accent {
    background-color: var(--color-special-dim-red);
    color: var(--color-text-primary);
}
