.product {
    box-sizing: border-box;
    display: flex;
    column-gap: 70px;
    margin: 50px;
    padding: 40px;
    border-radius: 1px;
    width: 80%;
    max-width: 1500px;
    height: auto;
}

.product__image {
    max-width: 45%;
    width: fit-content;
    height: fit-content;
    object-fit: contain;
    border-radius: 1px;
}

.product__content {
    width: 100%;
}

.product__name {
    max-width: fit-content;
    font-family: inherit;
    font-size: 42px;
    margin: 0;
}

.product__link {
    text-decoration: none;
    opacity: 1;
    max-width: fit-content;
    display: inline-block;
    transition: opacity var(--transition-primary);
}

.product__link:hover {
    opacity: .7;
}

.product__category {
    text-transform: capitalize;
    margin: 20px 0 0;
    font-size: 28px;
    color: var(--color-special-dim-red);
    text-decoration: none;
    max-width: fit-content;
}

.product__price {
    margin: 70px 0 0;
    font-size: 36px;
    font-weight: var(--font-weight-bold);
    color: var(--color-special-dim-red);
    max-width: fit-content;
}

.product__form {
    max-width: fit-content;
    margin: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    align-items: center;
}

.product__form label {
    font-family: inherit;
    font-size: 16px;
}

.product__form #id_quantity {
    padding: 5px;
    width: 50px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.product__form #id_quantity:hover {
    background-color: var(--color-light);
}

.product__button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    opacity: 1;
    transition: opacity var(--transition-primary);
}

.product__button:hover {
    opacity: .7;
}

.product__button_type_submit {
    padding: 12px;
    color: var(--color-text-primary);
    background-color: var(--color-special-dim-red);
}

.product__description, .product__description ~ p {
    margin: 20px 0 0;
    font-size: 16px;
    max-width: fit-content;
    line-height: 1.3;
}
