.header {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 75px;
  align-items: center;
  justify-items: center;
  padding: 0 20px;
  background-color: var(--color-primary);
  -webkit-box-shadow: 4px 7px 8px 0 rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 4px 7px 8px 0 rgba(34, 60, 80, 0.1);
  box-shadow: 4px 7px 8px 0 rgba(34, 60, 80, 0.1);
  z-index: 2;
}

.header__link {
  text-decoration: none;
  opacity: 1;
  transition: opacity var(--transition-primary);
}

.header__link:hover {
  opacity: .7;
}

.header__languages {
  display: flex;
  column-gap: 10px;
}

.header__languages-list {
  display: flex;
  column-gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__languages-list-item {}

.header__languages-list-link {}

.header__languages-list-link_selected {}

.header__main-logo {
  opacity: 1;
}

.header__main-logo .header__text {
  color: var(--color-text-primary);
  transition: color var(--transition-primary);
}

.header__main-logo:hover {
  opacity: 1;
}

.header__main-logo:hover .header__text {
  color: var(--color-special-red);
}

.header__cart {
  display: flex;
  column-gap: 10px;
  align-items: center;
  color: var(--color-text-primary);
}

.header__cart-icon {
  width: 30px;
  height: 30px;
  background-image: url("../../images/dashicons_cart.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__text {
  color: var(--color-text-primary);
  margin: 0;
  display: inline;
}

.header__text_decorated {
  border-bottom: 1px solid var(--color-special-red);
}

.main {
  left: 0;
  top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 75px 0 60px;
  height: 100%;
  align-items: center;
  z-index: 1;
}


