@import "normalize.css";
@import "fonts.css";
@import "variables.css";
@import "shop/base.css";
@import "shop/product/detail.css";
@import "shop/product/list.css";
@import "cart/detail.css";
@import "orders/order/create.css";
@import "orders/order/created.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family-primary);
  color: var(--color-text-primary);
  background-color: var(--color-primary);
}
