:root {
    --color-primary: #272727;

    --color-special-red: red;
    --color-special-dim-red: #d21414;
    --color-special-violet: #8910C6;

    --color-white: #fff;
    --color-black: rgb(0, 0, 0);
    --color-light: rgba(247, 248, 250, 0.70);

    --color-text-primary: #fff;
    --color-text-secondary: #000;

    --font-family-primary: 'RussoOne', 'Roboto', sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;
    --font-family-special: 'MonumentExtended', 'Roboto';
    --font-weight-normal: 400;

    --transition-primary: .15s ease-in;
}